In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-01-26 03:31:18,42.6001,-73.9662,21.15,75,18,6.24
1,1,Hasaki,JP,2022-01-26 03:31:19,35.7333,140.8333,45.28,84,100,18.14
2,2,Pampa,US,2022-01-26 03:31:19,35.5362,-100.9599,26.74,54,100,17.27
3,3,Busselton,AU,2022-01-26 03:31:20,-33.6500,115.3333,77.86,40,11,5.64
4,4,New Norfolk,AU,2022-01-26 03:31:20,-42.7826,147.0587,68.67,46,100,5.50

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#### 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]

#### 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length

#### 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()

#### 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#### 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)

#### 6. Call the figure to plot the data.
#fig

In [6]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
    # temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# Add center of earth and zoom level to fig
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# replace for loop with list comprehension
# change circle size
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
# mod circle dissipation
fig.add_layer(heat_layer)
# Diplay figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Busselton,AU,2022-01-26 03:31:20,-33.6500,115.3333,77.86,40,11,5.64
10,10,Kununurra,AU,2022-01-26 03:31:24,-15.7667,128.7333,84.18,74,100,6.91
15,15,Vaini,TO,2022-01-26 03:31:26,-21.2000,-175.2000,86.16,74,20,9.22
26,26,Kapaa,US,2022-01-26 03:31:31,22.0752,-159.3190,76.98,70,20,4.00
28,28,Georgetown,MY,2022-01-26 03:31:32,5.4112,100.3354,84.15,74,20,3.44
32,32,Sao Joao Da Barra,BR,2022-01-26 03:31:33,-21.6403,-41.0511,75.11,89,1,14.70
33,33,Arraial Do Cabo,BR,2022-01-26 03:31:34,-22.9661,-42.0278,75.04,91,0,16.67
42,42,Bambous Virieux,MU,2022-01-26 03:31:38,-20.3428,57.7575,79.21,69,75,10.36
45,45,Rikitea,PF,2022-01-26 03:31:40,-23.1203,-134.9692,78.40,77,100,17.85
73,73,Sao Filipe,CV,2022-01-26 03:32:53,14.8961,-24.4956,75.22,60,2,10.18

In [13]:
preferred_cities_df.count()

City_ID       122
City          122
Country       122
Date          122
Lat           122
Lng           122
Max Temp      122
Humidity      122
Cloudiness    122
Wind Speed    122
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
3           Busselton      AU     77.86 -33.6500  115.3333
10          Kununurra      AU     84.18 -15.7667  128.7333
15              Vaini      TO     86.16 -21.2000 -175.2000
26              Kapaa      US     76.98  22.0752 -159.3190
28         Georgetown      MY     84.15   5.4112  100.3354
32  Sao Joao Da Barra      BR     75.11 -21.6403  -41.0511
33    Arraial Do Cabo      BR     75.04 -22.9661  -42.0278
42    Bambous Virieux      MU     79.21 -20.3428   57.7575
45            Rikitea      PF     78.40 -23.1203 -134.9692
73         Sao Filipe      CV     75.22  14.8961  -24.4956

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Busselton,AU,77.86,-33.6500,115.3333,Observatory Guest House
10,Kununurra,AU,84.18,-15.7667,128.7333,Hotel Kununurra
15,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort
26,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Georgetown,MY,84.15,5.4112,100.3354,Cititel Penang
32,Sao Joao Da Barra,BR,75.11,-21.6403,-41.0511,Pousada Porto De Canoas
33,Arraial Do Cabo,BR,75.04,-22.9661,-42.0278,Pousada Porto Praia
42,Bambous Virieux,MU,79.21,-20.3428,57.7575,Casa Tia Villa
45,Rikitea,PF,78.40,-23.1203,-134.9692,People ThankYou
73,Sao Filipe,CV,75.22,14.8961,-24.4956,Hotel Xaguate

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
# define marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
# add marers per city
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]